# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/

# Training artifacts
logs/*
src/tensegrity_pick/logs/*
!src/tensegrity_pick/logs/skrl/
src/tensegrity_pick/logs/skrl/*
!src/tensegrity_pick/logs/skrl/theses_logs/
src/tensegrity_pick/outputs/*
!src/tensegrity_pick/outputs/workspace_analysis/
!src/tensegrity_pick/outputs/model_validation/
**/runs/
**/recordings/
**/wandb/
**/.neptune/




# Omniverse / Isaac Sim
*.dmp
.thumbs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Misc
*.tmp
*.log

# Literature sources (PDFs/HTML kept locally only — not pushed due to size and copyright)
doc/Literatur/_**
doc/Literatur/sources/**
!doc/Literatur/sources/
!doc/Literatur/sources/README.md
!doc/Literatur/sources/missing_sources.html

docs/**
reports/**
.github/**

# LaTeX temporary / build files
*.aux
*.lof
*.lot
*.toc
*.out
*.bbl
*.blg
*.bcf
*.run.xml
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.idx
*.ind
*.ilg
*.nlo
*.nls
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex.gz(busy)
*.ist

# local backups
_backups/**

.venv/**
doc/reports/cube_sort_research/**
doc/reports_deprecated/**
**/Research/**