<?xml version="1.0" ?>

<robot name="threedof_manipulator">

  <link name="root_link">
    <visual>
      <geometry>
        <mesh filename="/home/robot/studentische-arbeiten/res/Tensegrity/meshes/wrist_upper_with_imu.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 0.9"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="/home/robot/studentische-arbeiten/res/Tensegrity/meshes/wrist_upper_with_imu.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.9"/> <!-- TODO: 1.9 kg, estimated from CAD model with arm adapt to only wrist with imu + enclosure -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.07286" ixy="0.0" ixz="0.0" iyy="0.01099" iyz="0.0" izz="0.0104"/>  <!-- TODO: Adapt to only wrist with imu + enclosure -->
    </inertial>
  </link>

  <fixed_frame name="imu1_frame">
    <parent link="root_link"/>
    <origin rpy="0 0 3.14" xyz="0 0.03 -0.033"/>
  </fixed_frame>

   <joint name="wrist_y_joint" type="revolute">
    <parent link="root_link"/>
    <child link="wrist_y_link"/>
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 3.14" xyz="0 0 -0.126"/>
    <limit effort="10.0" lower="-0.8" upper="0.8" velocity="0.5"/>
    <dynamics damping="0.01" friction="0.04"/>
    <!-- damping="0.0036" friction="0.002"-->
  </joint> 

  <link name="wrist_y_link">
    <visual>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <joint name="wrist_x_joint" type="revolute">
    <parent link="wrist_y_link"/>
    <child link="wrist_x_link"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <limit effort="10.0" lower="-0.8" upper="0.8" velocity="0.5"/>
    <dynamics damping="0.01" friction="0.04"/>
    <!-- damping="0.0036" friction="0.002"-->
  </joint>  

  <link name="wrist_x_link">
    <visual>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <joint name="wrist_mesh_fixed_joint" type="fixed">
    <origin rpy="3.14 0 2.616" xyz="0 0 -0.0033"/>
    <parent link="wrist_x_link"/>
    <child link="end_effector_link"/>
  </joint>  

  <link name="end_effector_link">
    <visual>
      <geometry>
        <mesh filename="/home/robot/studentische-arbeiten/res/Tensegrity/meshes/Endeffektor.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="/home/robot/studentische-arbeiten/res/Tensegrity/meshes/Endeffektor.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.000175" ixy="0.0" ixz="0.0" 
               iyy="0.000175" iyz="0.0" 
               izz="0.0000614"/>
    </inertial>
  </link>

  <fixed_frame name="imu2_frame">
    <parent link="end_effector_link"/>
    <origin rpy="3.14 0 2.6172" xyz="0 0 0.09"/>
  </fixed_frame>

  <joint name="ee_tool_fixed_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.11768"/>
    <parent link="end_effector_link"/>
    <child link="tool_link"/>
  </joint>  

  <link name="tool_link">
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
    <!-- no <visual>, no <collision> -->
  </link>

</robot>

